@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --border-radius: 10px;
    --padding-small: 10px;
    --padding-large: 20px;
    --transition: 0.2s ease-in-out;
    
    --bg: #fff;
    --bg-blue: #EEF7FE;
    --border: #CCCCCC;
    
    --text-regular: #131417;
    --text-blue: #008DFF;
    --text-grey: #787878;

    --size-p: 1rem;
    --size-h1: 2.5rem;
    --size-h2: 2rem;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
      font-family: "Inter", sans-serif;
      height: 100vh;

}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid var(--border);
    margin-bottom: 4rem;
    flex-wrap: wrap;
    gap: var(--padding-large)
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    



    
}

footer{

}

table {
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: var(--border-radius);
    margin: 40px;
    overflow: hidden;
}

th, td {
    padding: 16px;
    text-align: left;
    border-bottom: 1px solid var(--border);
    font-size: var(--size-p);
    height: 65px;
}

th {
    background-color: var(--bg-blue);
    color: var(--text-blue);
    font-weight: 600;
}

tr:hover {
    background-color: #f3faff;
}

tr:last-child td {
    border-bottom: none;
}

input{
    border: none;
    border: 2px solid var(--border);
    border-radius: var(--border-radius);
    padding: var(--padding-small);
     width: 415px;
    height: 46px;
    font-size: var(--size-p);
    transition: var(--transition);
}

ul{
    list-style: none;
}

button{
    border: none;
    border-radius: var(--border-radius);
    padding: var(--padding-small);
    width: 100px;
    height: 46.86px;
    font-size: var(--size-p);
    transition: var(--transition);
}

footer{
    padding: var(--padding-large);
    background-color: #F1F1F1;
}

header > div{
    display: flex;
    gap: 15px;
}

button:hover{
    cursor: pointer;
    opacity: 0.7;
}

input:focus{
    outline: none;
    border: 2px solid var(--text-blue);
}


#logo{
    color: var(--text-grey);
    font-weight: 500;
}

.textGrey{
    color: var(--text-grey);
    font-weight: 500;
}

#generalInfoContainer{
    background-color: #F1F1F1;
    padding: var(--padding-large);
    border-radius: var(--border-radius);
}

#buttonSearch{
    background-color: var(--bg-blue);
    color: var(--text-blue);
   
}
